 :root {
    --boardWidth: 450px;
    --boardHeight: 450px;
 }

.boardSection {
    display: flex;
    justify-content: space-around;
}
#chessboard {
    border-style: solid;
    width: var(--boardWidth);
    height: var(--boardHeight);
}
.chessRow {
    display: flex;
}
.chessCell {
    width: calc(var(--boardWidth)/8);
    height: calc(var(--boardWidth)/8);
}