 :root {
    --boardWidth: 450px;
    --boardHeight: 450px;
 }
body {
    background-image: linear-gradient(#666666, #c0c0c0,#666666);
}
.boardSection {
    display: flex;
    justify-content: space-around;
}
#chessboard {
    border-style: solid;
    width: var(--boardWidth);
    height: var(--boardHeight);
    border-radius: 10px;
    overflow: hidden;
}
.chessRow {
    display: flex;
}
.chessCell {
    width: calc(var(--boardWidth)/8);
    height: calc(var(--boardWidth)/8);
    display: flex;
    justify-content: space-around;
}

.piece {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    scale: 0.8;
    cursor: grab;
}

.piece {
    cursor: pointer;
}
.inputs {
    display: flex;
    flex-direction: column;
}
.inputs > div {
    display: flex;
    justify-content: space-around;
    margin: 1%;
}

.hoverCell {
    outline: 3px dashed red;
    z-index: 9;
}


.playerSection {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 2%;
}
.picesBar{
    height: 20px;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    overflow: hidden;
}
.picesBarData {
    height: inherit;
    background-color: green;
    border-radius: inherit;
}

.playerColors {
    margin-top: 15px;
    margin-bottom: 15px;
}

.winScreen {
    position: absolute;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-around;
    visibility: hidden;
    z-index: 8;
}
.winContainer {
    display: flex;
    flex-direction: column;
    width: inherit;
    text-align: center;
    justify-content: space-around;
    background-color: rgba(0,255,0,0.5);
    border-radius: 10px;
    z-index: 9;
    margin: 5%;
}

@keyframes removePiece {
    from{
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

@keyframes invalidMove {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}